/* common styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
.section-title {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}
.section-description {
  margin: 24px 0 32px 0;
  color: #727272;
}
.btn-primary {
  font-weight: 600;
  font-size: 20px;
  background: #ff900e;
  border-radius: 8px;
  color: #ffffff;
  padding: 20px 25px;
  border: 0;
  margin-bottom: 50px;
}
.border-left {
  border-left: 2px solid #ff900e;
}

/* header styles start*/
.header {
  background: rgba(255, 144, 14, 0.1);
}
/* Nav styles */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 240px 102px 228px;
}
.nav-btns ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
}
.nav-btns ul li {
  list-style: none;
}
.nav-btns ul li a {
  text-decoration: none;
  color: #424242;
  font-weight: 500;
  font-size: 18px;
}

/* brand styles */
.brand-container {
  text-align: center;
  width: 862px;
  margin: 0 auto;
}
.brand-title {
  font-weight: 700;
  font-size: 64px;
  color: #131313;
}
.brand-description {
  color: #727272;
  margin: 32px 0;
}
/* banner styles */
.banner-container {
  padding: 0 240px;
}
.banner {
  width: 100%;
  margin-bottom: 45px;
  border-radius: 8px;
}
/* header styles end */

/* main styles start */
.main {
  margin: 0 auto;
}
/* feature section styles */
.feature {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 73px;
  padding: 85px 301px;
}
.gallery {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.gallery img {
  width: 100%;
}
.feature-info {
  width: 50%;
}
.section-title .fade {
  font-weight: 500;
  font-size: 45px;
  color: #727272;
}
.section-title .dark {
  color: #131313;
}
.section-title .orange {
  color: #ff900e;
}
/* descriptive feature styles */
.des-section {
  padding: 130px 240px;
}
.des-feature {
  display: flex;
  justify-content: space-between;
  gap: 146px;
}
.des-feature-container {
  width: 50%;
}
.des-feature-container .section-title {
  padding-left: 21px;
}
.feature-card {
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 30px;
  margin-bottom: 20px;
}
.card-title {
  font-weight: 600;
  font-size: 20px;
  color: #131313;
  margin-bottom: 10px;
}
.card-description {
  color: #727272;
}
.des-feature-container img {
  width: 100%;
  border-radius: 8px;
}
.btn-experience {
  text-align: center;
}
.btn-position {
  position: relative;
  left: 110px;
  bottom: 490px;
}
.btn-position span {
  font-weight: 700;
  font-size: 65px;
}
/* facts styles */
.facts-section {
  padding: 0 240px 130px 240px;
}
.fact-cards {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.fact-card {
  border: 1px solid #ff900e;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 241.83px;
  height: 241.83px;
  transition: transform 1s ease-in 0s;
}
.fact-card-title {
  margin: 9px 0px 5px 0px;
  font-weight: 600;
  font-size: 45px;
}
.fact-card-description {
  font-weight: 600;
  font-size: 20px;
  color: #727272;
}


/* hover styles */
.fact-card:hover {
  transform: scale(1.1);
  border: 2px solid #e86501;
}
/* responsive styles */
@media screen and (max-width: 576px) {
  /* nav styles */
  .nav {
    flex-direction: column;
    padding: 50px 0;
  }
  .nav-btns ul {
    flex-direction: column;
    gap: 25px;
    margin-top: 25px;
  }
  /* brand styles */
  .brand-container {
    width: 90%;
  }
  /* banner styles */
  .banner-container {
    padding: 0;
    width: 90%;
    margin: 0 auto;
  }

  /* feature section styles */
  .feature {
    flex-direction: column;
    padding: 50px;
  }
  .gallery {
    width: 100%;
  }
  .gallery img {
    border-radius: 8px;
  }
  .feature-info {
    width: 100%;
    text-align: center;
  }
  /* descriptive feature styles */
  .des-section {
    padding: 50px;
  }
  .des-feature {
    flex-direction: column;
    gap: 54px;
  }
  .des-feature-container {
    width: 100%;
  }
  .btn-position {
    position: static;
    margin-top: 24px;
  }
  /* facts styles */
  .facts-section {
    padding: 50px;
  }
  .fact-cards{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  /* nav styles */
  .nav {
    padding: 50px;
  }
  .nav-btns ul {
    gap: 25px;
  }
  /* brand styles */
  .brand-container {
    width: 90%;
  }
  /* banner styles */
  .banner-container {
    padding: 0;
    width: 90%;
    margin: 0 auto;
  }
  /* feature section styles */
  .feature {
    flex-direction: column;
    padding: 80px;
  }
  .gallery {
    width: 100%;
  }
  .feature-info {
    width: 100%;
    text-align: center;
  }
  /* descriptive feature styles */
  .des-section {
    padding: 80px;
  }
  .des-feature {
    flex-direction: column;
    gap: 54px;
  }
  .des-feature-container {
    width: 100%;
  }
  .btn-position {
    position: static;
    margin-top: 24px;
  }
  .facts-section {
    padding: 80px;
  }
  .facts-section {
    padding: 50px;
  }
  .fact-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
